.main-carousel{
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.75);
  border-radius: 6px;
  position: relative;
}

.img-carousel{
  width: 90%;
  height: 20rem;
}

.carousel-pub{
  align-items: center;
  display: flex;
  background: linear-gradient(45deg, var(--color-5), var(--color-2), var(--color-3), var(--color-5));
}

.second-img-carousel{
  display: none;
}

.fevalum-pub{
  color: var(--color-1);
  font-size: 2.3rem;
}

.fevalum-pub span{
  color: #fff;
  text-transform: uppercase;
}

.img-carousel-pub{
  height: 20rem;
  margin: auto;
  text-align: center;
}



.slogan{
  font-size: 1.3rem;
  color: #fff;
}

@media  screen and (min-width: 768px) {
 .fevalum-pub{
  font-size: 3rem;
  padding: 10px;
 }

 .fevalum-pub, .img-carousel-pub, .second-img-carousel{
  width: 33.33%;
 }

.img-carousel-pub{
  height: 20rem;
}

 .carousel-pub{
  display: flex;
  justify-content: space-between;
  height: 20rem;
 }

 .slogan{
  font-size: 2.6rem;
  padding: 10px;
 }

}

@media  screen and (min-width: 1200px) {
  .main-carousel{
    width: 75%;
  }
  
  .img-carousel{
    width: 75%;
    height: 25rem;
  }

  .img-carousel-pub{
    height: 25rem;
  }

  .carousel-pub{
    height: 25rem;
  }

  .fevalum-pub{
    color: var(--color-1);
    font-size: 4.5rem;
  }


}
